@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q2_content {
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;
}

.q2_left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.q2_right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.q2_text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
/* 回答はここに書いてね */
